<!doctype html>
<html lang="en-US" xmlns:th="http://www.thymeleaf.org">
<head>
<meta charset="utf-8"></meta>
<meta http-equiv="Content-Type" content="text/html"></meta>
<title>Antologias</title>
</head>
<body>
Editar: #<span th:text="${anthologyToEdit.id}">Id</span>
<form action="#" th:action="@{/edit/{id}(id=${anthologyToEdit.id})}" th:object="${anthologyToEdit}" method="post">
    <label for="name">Nombre</label>
    <input type="text" th:field="*{name}" id="name">
    <label for="subtitulo">Subtitulo</label>
    <input type="text" th:field="*{subtitulo}" id="subtitulo">
     <label for="fechapublicacion">Fecha Publicacion</label>
    <input type="date" th:field="*{fechaPublicacion}" id="fechaPublicacion">
     <input type="submit" value="Save Anthology">   
</form>

</body>
</html>