<!doctype html>
<html lang="en-US" xmlns:th="http://www.thymeleaf.org">
<head>
<meta charset="utf-8"></meta>
<meta http-equiv="Content-Type" content="text/html"></meta>
<title>Antologias</title>
</head>
<body>
	<div>
		<h1>Lista de Antologias</h1>
		<ul>
			<div th:each="entry : ${anthologies}">
				<li>
					<h4>
						<span th:text="${entry.name}">Nombre</span>
						<span th:text="${entry.subtitulo}">Subtitulo</span>
						<span th:text="${entry.fechaPublicacion}">Fecha de Publicacion</span>
						<a th:href="@{/edit/{id}(id=${entry.id})}">Edit</a><br/>
						<a th:href="@{/detalle/{id}(id=${entry.id})}">Ver todo el detalle</a><br/>
						
					
						<br/>
					</h4>
				</li>
			</div>
		</ul>
	</div>
</body>
</html>